body{
    text-align: center;
    background-image:url("wheels.png");
    background-size: 10px;
    margin: auto;
    font-family: fantasy;
    
   
}
h1{
    font-size: 70px;
    font-family: fantasy;
    font-style: italic;
    color: aliceblue;
    background-color: black;
    width: 600px;
    margin: auto;
}
h2{
    border: 1px groove black;
    width: 200px;
    
    background-color: aliceblue;
    
    margin: auto;
}

.timer{
    border: 1px groove black;
    width: 100px;
    background-color: aliceblue;
    
    margin: auto;
}

table{
    border: 20px solid rgb(0, 0, 0);
    margin: auto;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(84, 84, 84);
   
    
}

td{
    width: 50px;
    height: 50px;
    margin: auto;
    text-align: center;
    cursor: pointer;
    border: 10px groove black;
    background-color: rgb(14, 13, 13);
    color: rgb(14, 13, 13);
   


}

.show{
    
    color: black;
    font-size: 20px;
    font-weight: bold;
    background-color: aliceblue;
    
    

}

.restart{
    width: 200px;
   height: 100px;
    border: 10px groove black;
    border-radius: 10%;
    cursor: pointer;
    margin: 1%;
    font-size: larger;
    
    font-family: fantasy;
    transition: 0.3s;
}

.smile{
    width: 80px;
    height: 80px;
    background-color: black;
    cursor: pointer;
    margin-bottom:10px ;
    font-size: 30px;
}
.hints{
    width: 80px;
    height: 80px;
    background-color: black;
    cursor: pointer;
    margin-bottom:10px;
    font-size: 30px;
    color: aliceblue;
}

.board td:hover{
    transform: translate(2px, -2px); 
 
}
.marked{
       
    color: rgb(255, 0, 0);
    
    background-color: aliceblue; 
}
 
.gameover{
    margin: auto;
    font-size: 50px;
    margin: auto;
    top: 370px;
    background-color: rgb(234, 34, 34);
    width: 150px;
    height: 100px;
    display:none;
    
}
.try{
    margin: auto;
    font-size: 25px;
    top: 100px;
    left: 50px;
    background-color: rgb(194, 234, 34);
    width: 200px;
    height: 100px;
    display:none;
    
}

.btn{
   width: 200px;
   height: 100px;
    border: 10px groove black;
    border-radius: 10%;
    cursor: pointer;
    margin: 1%;
    font-size: larger;
    
    font-family: fantasy;
    transition: 0.3s;

}

.btn:hover{
    transform: translate(2px, -2px); 
    transition: 0.3s;
}

